1 VERSIONINFO
FILEVERSION            4,0,0
PRODUCTVERSION         4,0,0,1

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Corionis"
            VALUE "FileDescription",  "Windows Launcher for ELS"
            VALUE "FileVersion",      "4, 0, 0, 1"
            VALUE "InternalName",     "ELS-Navigator.exe"
            VALUE "LegalCopyright",   "GPL License, https://github.com/Corionis/ELS"
            VALUE "OriginalFilename", "ELS-Navigator.exe"
            VALUE "ProductName",      "Entertainment Library Synchronizer"
            VALUE "ProductVersion",   "4.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
            VALUE "Translation", 0x409, 1252
    END
END
